/* ./app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #011627; /* Background */
  --background-dark: #011221; /* Darker background */
  --foreground: #607b96; /* Default text color */
  --accent: #4d5bce; /* Primary accent color */
  --accent-secondary: #fea55f; /* Secondary accent color */
  --accent-tertiary: #43d9ad; /* Tertiary accent color */
  --border: #1e2d3d; /* Border color */
  --off-white: #f2f0ef; /* Lighter text color */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
  overflow: hidden; /* Keep this on body only */
}

/* Custom scrollbar classes */
.custom-scrollbar {
  overflow-y: auto;
}

/* Chrome/Safari/Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--border);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 4px;
  border: 2px solid var(--border);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

/* Firefox scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--border);
}
