@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #607b96; /* Default text color */
  --accent: #4d5bce; /* Primary accent color */
  --accent-secondary: #fea55f; /* Secondary accent color */
  --accent-tertiary: #43d9ad; /* Tertiary accent color */
  --border: #1e2d3d; /* Border color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #011627; /* Dark mode background */
    --foreground: #607b96; /* Default text color */
    --accent: #4d5bce; /* Primary accent color */
    --accent-secondary: #fea55f; /* Secondary accent color */
    --accent-tertiary: #43d9ad; /* Tertiary accent color */
    --border: #1e2d3d; /* Border color */
  }
}

/* Ensure the canvas spans the viewport without causing scrollbars */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  height: 100%; /* Ensure the canvas covers the full height */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Canvas-specific styles */
canvas {
  display: block; /* Remove any extra spacing around the canvas */
  position: absolute; /* Allow it to span the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Ensure the canvas width fits the viewport */
  height: 100%; /* Ensure the canvas height fits the viewport */
  z-index: -1; /* Push it to the background */
}
