@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #607b96; /* Default text color */
  --accent: #4d5bce; /* Primary accent color */
  --accent-secondary: #fea55f; /* Secondary accent color */
  --accent-tertiary: #43d9ad; /* Tertiary accent color */
  --border: #1e2d3d; /* Border color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #011627; /* Dark mode background */
    --foreground: #607b96; /* Default text color */
    --accent: #4d5bce; /* Primary accent color */
    --accent-secondary: #fea55f; /* Secondary accent color */
    --accent-tertiary: #43d9ad; /* Tertiary accent color */
    --border: #1e2d3d; /* Border color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
